In [1]:
import pandas as pd
import os

In [2]:
import numpy as np

In [3]:
path = os.path.join("Unsolved/Resources", "crime_incident_data2017.csv")

In [4]:
df =pd.read_csv(path)

In [11]:
df = pd.read_csv(path)\
     .rename(columns= lambda s: s.lower().replace(' ', '_'))\
    [["neighborhood",
    'occur_date',
    'occur_time',
    'offense_category',
    'offense_count',
    'offense_type',
    'report_date'
   ]]\
    .dropna()\
    .assign(report_date=lambda df: pd.to_datetime(df['report_date'], format="%m/%d/%y") )

occur_datetime = pd.to_datetime(
    df["occur_date"] +":"+ df['occur_time'].astype("str").apply(lambda s: s[:-2]+ ":" +s[-2:]),
                                                                format="%m/%d/%y:%H:%M",
                                                                errors="coerce"
                                                               )

df = df.assign(occur_datetime=occur_datetime)\
    .drop("occur_date", axis = 1)\
    .drop("occur_time", axis = 1)

In [ ]:
# Bu kisimda listeden bir columns dusmek istersen drop methodunu kullanmak gerekiyor.

In [7]:
df

,neighborhood,occur_date,occur_time,offense_category,offense_count,offense_type,report_date,occur_datetime
1,Centennial,1/20/00,1615,Fraud Offenses,1,Identity Theft,2017-01-20,2000-01-20 16:15:00
2,Montavilla,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,2017-01-09,2003-12-01 08:00:00
3,Southwest Hills,1/1/10,0,Fraud Offenses,1,Identity Theft,2017-01-05,NaT
4,Southwest Hills,1/1/10,0,Larceny Offenses,1,All Other Larceny,2017-01-05,NaT
5,King,11/28/10,1612,Fraud Offenses,1,Identity Theft,2017-01-03,2010-11-28 16:12:00
...,...,...,...,...,...,...,...,...
41026,Parkrose,8/31/17,2005,Drug/Narcotic Offenses,1,Drug/Narcotic Violations,2017-08-31,2017-08-31 20:05:00
41027,Sumner,8/31/17,535,Drug/Narcotic Offenses,1,Drug/Narcotic Violations,2017-08-31,2017-08-31 05:35:00
41028,Hazelwood,8/31/17,1619,Prostitution Offenses,1,Prostitution,2017-08-31,2017-08-31 16:19:00
41029,Hazelwood,8/31/17,1959,Prostitution Offenses,1,Prostitution,2017-08-31,2017-08-31 19:59:00
41031,Foster-Powell,8/31/17,2354,Weapon Law Violations,1,Weapons Law Violations,2017-08-31,2017-08-31 23:54:00

In [ ]:

occur_datetime = pd.to_datetime(df["occur_date"] +":"+ df['occur_time'].astype("str").apply(lambda s: s[:-2]+ ":" +s[-2:],format="%m/%d/%y:%H:%M",errors="coerce")

df = df.assign(occur_datetime=occur_datetime)

In [ ]:
df.head()

## Drop columns first then drop rows

# if I go with DROPNA(inpalce) it will do motation to your df file. becareful.

# Now we want to change the column names:  df['address'] bu bir Sreies olusturuyor df[['address']] bu ise bir dataframe olusturuyor.

In [ ]:
df[df['offense_count'] >= 2 ]["offense_count"]  # Buna mask deniliyor. data da 2 ve yukarinisi offense_count icin siraladi.

# Apply method pandas methodlari hatirlanmadigi durumlarda "lambda" function ile apply edilerek kullanilabilir.