In [1]:
import pandas as pd
import os

In [2]:
import numpy as np

In [3]:
path = os.path.join("Unsolved/Resources", "crime_incident_data2017.csv")

In [4]:
df = pd.read_csv(path)\
     .rename(columns= lambda s: s.lower().replace(' ', '_'))\
    [["neighborhood",
    'occur_date',
    'occur_time',
    'offense_category',
    'offense_count',
    'offense_type',
    'report_date'
   ]]

In [5]:
df.head()

,neighborhood,occur_date,occur_time,offense_category,offense_count,offense_type,report_date
0,NaN,1/1/96,800,Sex Offenses,1,Rape,1/26/17
1,Centennial,1/20/00,1615,Fraud Offenses,1,Identity Theft,1/20/17
2,Montavilla,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,1/9/17
3,Southwest Hills,1/1/10,0,Fraud Offenses,1,Identity Theft,1/5/17
4,Southwest Hills,1/1/10,0,Larceny Offenses,1,All Other Larceny,1/5/17

In [6]:
df.columns

Index(['neighborhood', 'occur_date', 'occur_time', 'offense_category',
       'offense_count', 'offense_type', 'report_date'],
      dtype='object')

In [7]:
df.shape

(41032, 7)

In [8]:
df.dropna().shape

(39712, 7)

## Drop columns first then drop rows

# if I go with DROPNA(inpalce) it will do motation to your df file. becareful.

In [9]:
df.dropna(how='all')

,neighborhood,occur_date,occur_time,offense_category,offense_count,offense_type,report_date
0,NaN,1/1/96,800,Sex Offenses,1,Rape,1/26/17
1,Centennial,1/20/00,1615,Fraud Offenses,1,Identity Theft,1/20/17
2,Montavilla,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,1/9/17
3,Southwest Hills,1/1/10,0,Fraud Offenses,1,Identity Theft,1/5/17
4,Southwest Hills,1/1/10,0,Larceny Offenses,1,All Other Larceny,1/5/17
...,...,...,...,...,...,...,...
41027,Sumner,8/31/17,535,Drug/Narcotic Offenses,1,Drug/Narcotic Violations,8/31/17
41028,Hazelwood,8/31/17,1619,Prostitution Offenses,1,Prostitution,8/31/17
41029,Hazelwood,8/31/17,1959,Prostitution Offenses,1,Prostitution,8/31/17
41030,NaN,8/31/17,2021,Prostitution Offenses,1,Prostitution,8/31/17
41031,Foster-Powell,8/31/17,2354,Weapon Law Violations,1,Weapons Law Violations,8/31/17

In [10]:
df.count()

neighborhood        39712
occur_date          41032
occur_time          41032
offense_category    41032
offense_count       41032
offense_type        41032
report_date         41032
dtype: int64

In [11]:
df.columns

Index(['neighborhood', 'occur_date', 'occur_time', 'offense_category',
       'offense_count', 'offense_type', 'report_date'],
      dtype='object')

In [12]:
df

,neighborhood,occur_date,occur_time,offense_category,offense_count,offense_type,report_date
0,NaN,1/1/96,800,Sex Offenses,1,Rape,1/26/17
1,Centennial,1/20/00,1615,Fraud Offenses,1,Identity Theft,1/20/17
2,Montavilla,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,1/9/17
3,Southwest Hills,1/1/10,0,Fraud Offenses,1,Identity Theft,1/5/17
4,Southwest Hills,1/1/10,0,Larceny Offenses,1,All Other Larceny,1/5/17
...,...,...,...,...,...,...,...
41027,Sumner,8/31/17,535,Drug/Narcotic Offenses,1,Drug/Narcotic Violations,8/31/17
41028,Hazelwood,8/31/17,1619,Prostitution Offenses,1,Prostitution,8/31/17
41029,Hazelwood,8/31/17,1959,Prostitution Offenses,1,Prostitution,8/31/17
41030,NaN,8/31/17,2021,Prostitution Offenses,1,Prostitution,8/31/17
41031,Foster-Powell,8/31/17,2354,Weapon Law Violations,1,Weapons Law Violations,8/31/17

In [13]:
df.shape

(41032, 7)

In [14]:
df.columns

Index(['neighborhood', 'occur_date', 'occur_time', 'offense_category',
       'offense_count', 'offense_type', 'report_date'],
      dtype='object')

# Now we want to change the column names:  df['address'] bu bir Sreies olusturuyor df[['address']] bu ise bir dataframe olusturuyor.

In [25]:
df[df['offense_count'] >= 2 ]["offense_count"]  # Buna mask deniliyor. data da 2 ve yukarinisi offense_count icin siraladi.

141       2
256       2
984       2
2059      2
3497      2
4311      2
5553      2
6310      7
6941      2
7570      2
8660     16
9268      2
11707     2
12205     2
12917     2
13779     3
13813     2
15715     2
16977     2
17039     2
17108     2
17443     2
18005     2
18468     2
23273     2
25863     2
26446     2
26936     2
28603     3
29411     2
29564     2
30217     2
31211     2
31689     4
32305     2
32833     2
33865     2
33959     2
37279     2
37280     2
38065     2
38418     2
39514     2
Name: offense_count, dtype: int64

In [31]:
df.loc[df['offense_count'] >= 2, "offense_category"].unique()

array(['Motor Vehicle Theft'], dtype=object)

In [32]:
df.loc[df['offense_count'] >= 2,['occur_date', 'offense_category']]

      occur_date     offense_category
141     11/20/16  Motor Vehicle Theft
256     12/31/16  Motor Vehicle Theft
984       1/4/17  Motor Vehicle Theft
2059     1/10/17  Motor Vehicle Theft
3497     1/25/17  Motor Vehicle Theft
4311     1/30/17  Motor Vehicle Theft
5553      2/5/17  Motor Vehicle Theft
6310     2/10/17  Motor Vehicle Theft
6941     2/11/17  Motor Vehicle Theft
7570     2/11/17  Motor Vehicle Theft
8660     2/24/17  Motor Vehicle Theft
9268     8/15/15  Motor Vehicle Theft
11707    3/14/17  Motor Vehicle Theft
12205    3/16/17  Motor Vehicle Theft
12917    3/13/17  Motor Vehicle Theft
13779    3/25/17  Motor Vehicle Theft
13813    3/26/17  Motor Vehicle Theft
15715     4/5/17  Motor Vehicle Theft
16977    4/14/17  Motor Vehicle Theft
17039    4/14/17  Motor Vehicle Theft
17108    4/15/17  Motor Vehicle Theft
17443    4/17/17  Motor Vehicle Theft
18005    4/20/17  Motor Vehicle Theft
18468    4/22/17  Motor Vehicle Theft
23273    5/20/17  Motor Vehicle Theft
25863     6/2/17  Motor Vehicle Theft
26446     6/6/17  Motor Vehicle Theft
26936     6/9/17  Motor Vehicle Theft
28603    6/19/17  Motor Vehicle Theft
29411    6/24/17  Motor Vehicle Theft
29564    6/25/17  Motor Vehicle Theft
30217    6/29/17  Motor Vehicle Theft
31211     7/3/17  Motor Vehicle Theft
31689     7/6/17  Motor Vehicle Theft
32305    7/10/17  Motor Vehicle Theft
32833    7/13/17  Motor Vehicle Theft
33865    7/20/17  Motor Vehicle Theft
33959    7/21/17  Motor Vehicle Theft
37279     8/8/17  Motor Vehicle Theft
37280     8/8/17  Motor Vehicle Theft
38065    8/13/17  Motor Vehicle Theft
38418    8/15/17  Motor Vehicle Theft
39514    8/22/17  Motor Vehicle Theft

In [33]:
df

,neighborhood,occur_date,occur_time,offense_category,offense_count,offense_type,report_date
0,NaN,1/1/96,800,Sex Offenses,1,Rape,1/26/17
1,Centennial,1/20/00,1615,Fraud Offenses,1,Identity Theft,1/20/17
2,Montavilla,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,1/9/17
3,Southwest Hills,1/1/10,0,Fraud Offenses,1,Identity Theft,1/5/17
4,Southwest Hills,1/1/10,0,Larceny Offenses,1,All Other Larceny,1/5/17
...,...,...,...,...,...,...,...
41027,Sumner,8/31/17,535,Drug/Narcotic Offenses,1,Drug/Narcotic Violations,8/31/17
41028,Hazelwood,8/31/17,1619,Prostitution Offenses,1,Prostitution,8/31/17
41029,Hazelwood,8/31/17,1959,Prostitution Offenses,1,Prostitution,8/31/17
41030,NaN,8/31/17,2021,Prostitution Offenses,1,Prostitution,8/31/17
41031,Foster-Powell,8/31/17,2354,Weapon Law Violations,1,Weapons Law Violations,8/31/17